@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #173857;
    --laranja: #ff8400;
    --preto: #000000;
    --branco: #FFFFFF;

    --z-index-max: 100;
}

body {
    font-family: 'Rubik', sans-serif;
}

.tittle {
    background-image: url(../img/newDuvida/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--branco);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 12.0625rem;
    top: -1px;
}

.tittle p {
    margin-left: 30px;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: lighter;
}

.tittle p::before {
    margin-left: 30px;
    content: "";
    position: absolute;
    bottom: 55%;
    left: 0;
    width: 10%;
    height: 1px; /* Ajuste a espessura do sublinhado aqui */
    background-color: #ff8400; /* Ajuste a cor do sublinhado aqui */
}

.form_overlay {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #FFF;
}

.form_overlay img {
    width: auto;
    height: auto;
    position: relative;
    left: 35%;
    margin-bottom: 10px;
}

.form_overlay form {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    z-index: 1;
}

.form_overlay .form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_overlay .form-group input,
.form_overlay .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.form_overlay .form-group textarea {
    border-radius: 8px;
    border: 1px solid;
    height: 100px;
}

.form_overlay input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #173857;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.form_overlay input[type="submit"]:hover {
    background-color: #173857ab;
}