/*======GERAL======*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #173857;
    --laranja: #ff8400;
    --preto: #000000;
    --branco: #FFFFFF;

    --z-index-max: 100;
}

 @media screen and (max-width: 1120px) { /* cabeçalho muda a partir de qual tamanho */
    body {
        font-family: 'Rubik', sans-serif;
        overflow-x: hidden;
    }
    
    /*======HEADER======*/
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        background-color: var(--azul-escuro);
        height: 8vh;
    
    }
    
    nav a {
        text-decoration: none;
        color: var(--branco);
    }
    
    #nav-list {
       list-style: none;
       display: flex;
       position: absolute;
       top: 8vh;
       right: 0;
       width: 50vw;
       height: 92vh;
       background-color: #1F1E1E;
       opacity: 0.8;
       flex-direction: column;
       align-items: left;
       transform: translateX(100%);
       transition: transform 0.3s ease-in;
    }
    
    #nav-list li {
        margin-bottom: 1rem;
        letter-spacing: 0.1875rem;
        opacity: 0;
    }

    .menu-icon {
        padding: 0.625rem;
    }

    .menu-text {
        display: flex;
        align-items: center;
    }

    .button-menu {
        display: block;
    }
    
    .button-menu button {
        background-color: transparent;
        border: none;
    }
    
    #nav-list.ativa {
        transform: translateX(0%);
    }
    
    #nav-list.ativa li {
        opacity: 1;
    }    
}

        /* Home page section */

#welcome-section {
    text-align: center;
    padding: 40px;
}

#welcome-section img{
    padding: 10px;
}

        /* Cursos ofertados section  */

#cursos-ofertados-section h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-curso {
    display: flex;
    width: 327px;
    height: 140px;
    background-size: cover;
    margin: 5px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0.1em 0.1em 0.2em black;
    align-items: center;
    justify-content: center;
}

.card-curso:hover{
    transition: transform .5seg;
    transform: scale(1.05);
}

#ingles {
    background-image: url(img_css/card_cursos/inglaterra.png);

}

#espanhol {
    background-image: url(img_css/card_cursos/barcelona.png);
}

#frances {
    background: url(img_css/card_cursos/paris.png);
}

#portugues {
    background: url(img_css/card_cursos/riodejaneiro.png);
}

        /* Depoimentos section */

#depoimentos h1 {
    text-align: center;
}

#depoimentos h1 strong{
    color: var(--azul-escuro);
}

#depoimentos span h1::before, #depoimentos span h1::after {
    content: "";
    background-color: rgb(211, 211, 211);
    display: inline-block;
    height: 1px;
    width: 6em;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}

#depoimentos span h1::before {
    right: 0.5em;
    margin-left: -50%;
}

#depoimentos span h1::after {
    left: 0.5em;
    margin-right: -50%;
}

.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}

.destaque-laranja {
    color: var(--laranja);
}

