/*======GERAL======*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #173857;
    --laranja: #ff8400;
    --preto: #000000;
    --branco: #FFFFFF;

    --z-index-max: 100;
}

/* cabeçalho muda a partir de qual tamanho */
    body {
        font-family: 'Rubik', sans-serif;
    }
    
    /*======HEADER======*/
    header #mobile_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--azul-escuro);
        height: 8vh;
        width: 100%;
        z-index: 99999;
    
    }
    
    header #mobile_menu.onScroll {
        position: fixed;
        background-color: #173857;
        transition: all 0.2s ease;
        height: 6vh;
        top: -1px;
    }

    #menu a {
        text-decoration: none;
        color: var(--branco);
    }
    
    #botaoMenu {
        background-color: transparent;
        border: none;
    }

    #botaoClose {
        position: fixed;
        background-color: transparent;
        border: none;
        top: 10px;
        right: 10px;
    }

    #botaoClose img{
        width: 18px;
    }

    #menu {
        display: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 0vh;
        transform: translateY(-200%);
        animation: menu_aparecendo 1s ease;
    }

    #menu ul {
        list-style-type: none;
        display: block;
    }

    #menu ul li {
        padding: 10px 0;
    }

    #menu ul li .menu-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile_menu.menu_on {
        display: none;
    }

    #menu.ativa {
        overflow: hidden;
        position: fixed;
        display: flex;
        height: 100vh;
        width: 100%;
        transform: translateY(0%);
        background-color: #165188;
        animation: menu_aparecendo 1s ease;
        text-align: center;
        z-index: 9999;
    }

    @keyframes menu_aparecendo {
        from {
            height: 0vh;
            transform: translateY(-100px);
        }
        to {
            transform: translateY(normal);
            height: 100vh;
            background-color: #165188;
        }
    }
        /* Home page section */

#welcome-section {
    text-align: center;
    padding: 40px;
}

#welcome-section img{
    padding: 10px;
}

        /* Cursos ofertados section  */

#cursos-ofertados-section h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-curso {
    display: flex;
    width: 327px;
    height: 140px;
    background-size: cover;
    margin: 5px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0.1em 0.1em 0.2em black;
    align-items: center;
    justify-content: center;
}

.card-curso:hover{
    transition: transform .5seg;
    transform: scale(1.05);
}

#ingles {
    background-image: url(img_css/card_cursos/inglaterra.png);

}

#espanhol {
    background-image: url(img_css/card_cursos/barcelona.png);
}

#frances {
    background: url(img_css/card_cursos/paris.png);
}

#portugues {
    background: url(img_css/card_cursos/riodejaneiro.png);
}

       /* Depoimentos section */

#depoimentos h1 {
    text-align: center;
    font-size: 20pt;
}

#h1-depoimentos{
    padding-top: 20px;
}

#depoimentos h1 strong{
    color: var(--azul-escuro);
}

#depoimentos span h1::before, #depoimentos span h1::after {
    content: "";
    background-color: rgb(211, 211, 211);
    display: inline-block;
    height: 1px;
    width: 6em;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}

#depoimentos span h1::before {
    right: 0.5em;
    margin-left: -50%;
}

#depoimentos span h1::after {
    left: 0.5em;
    margin-right: -50%;
}

    /*********** CARROSSEL ***********/

/* .carrossel{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
    scroll-snap-type: x mandatory;
}     */

.container {
  position: relative;
  padding: 15px;
  max-width: var(--width-mobile);
  margin: 0 auto;
  border-radius: 4%;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 1%, rgba(0, 0, 0, 0.034));
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 1%, rgba(0, 0, 0, 0.034));
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
}

.item {
  width: 250px;
  height: 300px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

#item-first {
    margin-left: 45px;
}

#item-last {
    margin-right: 45px;
}

.carrosselAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.carrosselAvatar img{
    width: 100px;
    height: 100px;
    background: url(img_css/card_cursos/Ellipse\ 1.png);
}

.carrosselAvatar p{
    color: #ff8400;
    padding: 20px;
}


  /* input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  } */




.button::before {
    content: "";
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform linear;
  }

.ativaCarrosButton{
    background-color: #173857;
    color: blue;
}

/*===COMO APRENDE===*/

.como_aprende {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-top: 50px;
    background-color: #F8F8F8;
}

.como_aprende h1 {
    margin-bottom: 50px;
}

.como_aprende h1 strong {
    color:#173857;
}

.cardHow {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    padding: 0 20px;
}

.cardHow img {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.cardHow h3 {
    margin-bottom: 5px;
}

.cardHow p {
    margin-bottom: 10px;
}

/*==== NOSSA EQUIPE ====*/
#equipe {
    text-align: center;
}

#equipe .tittle {
    margin: 3.125rem 0 3.125rem 0;
}

#equipe .tittle h1 {
    font-weight: normal;
}

#equipe .tittle strong {
    color: var(--azul-escuro);
}

#equipe .card-a,
#equipe .card-b {
    display: grid;
    margin-bottom: 1.25rem;
}

#equipe .card-a {
    grid-template-areas: 'col-img col-text';
}

#equipe .card-b {
    grid-template-areas: 'col-text col-img';
}

#equipe .card-a .card-img,
#equipe .card-b .card-img {
    grid-area: col-img;
}

#equipe .card-a .card_content,
#equipe .card-b .card_content {
    grid-area: col-text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#equipe .card-b .card_content {
    padding-left: 5%;
}

#equipe .card-a .card_content .card_tittle h2,
#equipe .card-b .card_content .card_tittle h2{
    font-size: 20px;
    color: var(--laranja);
}

#equipe .card-a .card_content .card_text h3,
#equipe .card-b .card_content .card_text h3{
    font-size: 16px;
    text-align: justify;
    font-weight: normal;
}

/*===FAQs===*/

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq a {
    margin-top: 15px;
    color: black;
}

#faq .tittle {
    margin: 3rem 0;
    color: var(--azul-escuro);
}

#faq .faq {
    margin: 0 1rem;
    padding: 1rem;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #D0D0D0;
    cursor: pointer;
}

#faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq .question h3 {
    font-size: 20px;
    font-weight: normal;
}

#faq .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#faq .answer p{
    padding: 1rem 0 0 0;
}

#faq .faq.active .answer {
    max-height: 300px;
}

/*===LOCALIZAÇÃO===*/

#localizado{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#localizado h1 {
    margin: 20px 0;
    font-weight: normal;
}

#localizado h1 strong {
    color: var(--azul-escuro);
}

.mapa{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 12.5rem;
    background: black;
    border-radius: 8px;
    border: #004c94 solid;
    
}

.mapa iframe{
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.texto1{
    text-align: center;
    color: #004c94;
    margin-top: 20px;

}

.texto2{
    text-align: center;
    margin-top: 10px;
    
}

/*===FOOTER===*/

#footer {
    margin-top: 20px;
    background-color: var(--azul-escuro);
    
}

#footer .content {
    display: grid;
    grid-template-areas: 'logo links'
    'social_midia links'
    'reserved reserved';
}

#footer .logo {
    grid-area: logo;
    margin-top: 10% 0 10px 0;
}

#footer .logo img {
    width: 70px;
    height: 60px;
}

#footer .social_midia {
    display: flex;
    grid-area: social_midia;
    flex-direction: row;
    margin: 0 0 35% 10px;
    justify-content: space-around;
    align-items: center;
}

#footer .links {
    display: flex;
    flex-direction: column;
    grid-area: links;
    text-align: right;
    font-weight: 700;
    margin-top: 20%;
    height: 70%;
}

#footer .links a {
    font-size: 16px;
    text-align: end;
    padding: 0 0 30px 0;
    color: var(--branco);
    text-decoration: none;
}

#footer .reserved {
    grid-area: reserved;
    color: var(--branco);
    display: flex;
    justify-content: center;
}

/*VERSÃO TABLET - Editar usando ipad air*/

@media screen and (max-width: 1280px) and (min-width: 768px) {
    
}

/*VERSÃO DESKTOP*/

@media screen and (min-width: 1300px) {

}