/*======GERAL======*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #173857;
    --laranja: #ff8400;
    --preto: #000000;
    --branco: #FFFFFF;

    --z-index-max: 100;
}

@media screen and (max-width: 1180px) {
    body {
        font-family: 'Rubik', sans-serif;
        overflow-x: hidden;
    }
    
    /*======HEADER======*/
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        background-color: var(--azul-escuro);
        height: 8vh;
    
    }
    
    nav a {
        text-decoration: none;
        color: var(--branco);
    }
    
    #nav-list {
       list-style: none;
       display: flex;
       position: absolute;
       top: 8vh;
       right: 0;
       width: 50vw;
       height: 92vh;
       background-color: #1F1E1E;
       opacity: 0.8;
       flex-direction: column;
       align-items: center;
       transform: translateX(100%);
       transition: transform 0.3s ease-in;
    }
    
    #nav-list li {
        margin-bottom: 3.125rem;
        letter-spacing: 0.1875rem;
        opacity: 0;
    }
    
    .button-menu {
        display: block;
    }
    
    .button-menu button {
        background-color: transparent;
        border: none;
    }
    
    #nav-list.ativa {
        transform: translateX(0%);
    }
    
    #nav-list.ativa li {
        opacity: 1;
    }    
}

